.admin {
    padding-top: 5px;
    margin-left: 45px;
}

.admin .title {
    margin-bottom: 10px;
}

.admin .title h2 {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0;
}

.admin .title hr {
    margin: 0;
    padding: 0;
    width: 10rem;
    border: 2px solid var(--primary-btn-color);
    border-radius: 5px;
}

.admin .challenge-moderation .challenges-list {
    list-style: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.admin .challenge-moderation .challenges-list .challenge-list-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border: 1px solid var(--primary-font-color);
    border-radius: 5px;
    background-color: var(--primary-input-color);
    padding: 5px;
    margin-bottom: 5px;
}

.admin .challenge-moderation .challenges-list .challenge-list-item .see-more {
    text-align: end;
    text-decoration: none;
    color: var(--secondary-font-color);
}