.challenge-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    height: 140px;
    border-radius: 5px;
    color: var(--primary-font-color);
    font-family: 'Roboto';
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.5);
}

.challenge-card .challenge-card-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 5px 5px 0 0;
    height: 105px;
    width: 320px;
    padding: 5px;
}

.challenge-card .challenge-card-infos .challenge-infos,
.challenge-card .challenge-card-infos .game-infos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.challenge-card .challenge-card-infos .challenge-infos h3 {
    font-size: 1rem;
}

.challenge-card .challenge-card-infos .challenge-infos span {
    font-size: 12px;
}

.challenge-card .challenge-card-infos .game-infos p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.challenge-card .challenge-card-infos .game-infos span {
    font-size: 14px;
}

.challenge-card .challenge-rules {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 35px;
    width: 320px;
    padding: 0 5px;
    border-radius: 0 0 5px 5px;
    background-color: var(--primary-card-footer-color);
}

.challenge-card .challenge-rules .rules-exerpt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

