.dial {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.nodial {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease;
}

.confirm-dial {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    background-color: var(--primary-label-color);
    border-radius: 5px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.confirm-dial-show {
    visibility: visible;
    opacity: 1;
    top: 40%;
}

.confirm-dial .subtitle {
    margin-top: 5px;
    font-size: 1.2rem;
}

.confirm-dial .subtitle h4 {
    margin: 0;
}

.confirm-dial .subtitle span {
    margin: 0;
    font-weight: bold;
}

.confirm-dial .validation-field {
    display: flex;
    justify-content: space-around;
}

.confirm-dial .validation-field .btn-confirm {
    border: none;
    height: 40px;
    border-radius: 5px;
    background-color: var(--primary-btn-color);
    color: var(--primary-font-color);
    text-align: center;
    font-weight: bold;
}

.confirm-dial .validation-field .btn-cancel {
    border: none;
    height: 40px;
    border-radius: 5px;
    background-color: red;
    color: var(--primary-font-color);
    text-align: center;
    font-weight: bold;
}