@font-face {
    font-family: NicoMoji;
    src: url("./fonts/NicoMoji/NicoMoji-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("./fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-Regular.ttf");
}

:root {
    --primary-body-color: #1d1c1c;

    --primary-bg-color: #2A292B;
    --secondary-bg-color: #444141;

    --primary-font-color: #FFFFFF;
    --secondary-font-color: #000000;
    
    --primary-btn-color: #DF580C;

    --primary-err-color: #842029;
    --secondary-err-color: #f8d7da;
    --tertiary-err-color: #f5c2c7;

    --primary-success-color: #0f5132;
    --secondary-success-color: #d1e7dd;
    --tertiary-success-color: #badbcc;

    --primary-edit-color: #0ab5bb;

    --primary-input-color: #D9D9D9;
    --primary-label-color: #827E7E;

    --primary-card-footer-color : #625F5F
}

html, body {
    padding: 0;
    margin: 0;
    background-color: var(--secondary-bg-color);
    box-sizing: border-box;
    font-family: "Poppins";
    height: 100%;
}

#app {
    margin-top: 40px;
    height: 100%;
}

.container {
    width: 95%;
    max-width: 680px;
    margin: 0 auto;
    background-color: var(--secondary-bg-color);
    padding: 5px;
    min-height: 100%;
}

.hidden {
    display: none;
}

h1 {
    font-family: "NicoMoji";
    font-weight: 400;
    color: var(--primary-font-color);
}

.title h2,
.title h1 {
    color: var(--primary-font-color);
    font-family: "Poppins";
    font-weight: bold;
    margin-bottom: 0;
    white-space: pre-line;
}

.title hr {
    margin: 0;
    padding: 0;
    width: 10rem;
    border: 2px solid var(--primary-btn-color);
    border-radius: 5px;
}

h3 {
    margin: 0;
}

.wrapper-link {
    text-decoration: none;
}

.messagefield {
    display: flex;
}

.message {
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 1rem 1rem;
    margin: 1rem auto 1rem;
    width: 100%;
}

.err-message {
    color: var(--primary-err-color);
    background-color: var(--secondary-err-color);
    border-color: var(--tertiary-err-color);
}

.success-message {
    color: var(--primary-success-color);
    background-color: var(--secondary-success-color);
    border-color: var(--tertiary-success-color);
}

.btn {
    font-family: "Poppins";
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.circle {
    width: 10px;
    height: auto;
    vertical-align: baseline;
}

.private {
    color: red;
}

.public {
    color: green;
}

.pending {
    color: yellow;
}

.custom-checkbox input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6em;
    height: 1.6em;
    border-radius: 0.15em;
    margin-right: 0.5em;
    border: 0.15em solid var(--primary-btn-color);
    outline: none;
    cursor: pointer;
    background-color: var(--secondary-bg-color);
    vertical-align: middle;
}

input.checked {
    position: relative;
}

input.checked::before {
    content: '\2714 \fe0e';
    font-size: 1.5em;
    color: green;
    position: absolute;
    right: 1px;
    top: -6px;
}

.custom-checkbox input[type="checkbox"]:hover {
    box-shadow: 0 0 20px var(--primary-btn-color);
    background-color: var(--primary-label-color);
}

.no-data {
    text-align: center;
    font-family: 'Roboto';
    font-size: 1rem;
    color: var(--primary-font-color);
}

@media screen and (min-width: 630px) {
    html, body {
        background-color: var(--primary-body-color);
    }

    .container {
        width: 80%;
    }
}

@media screen and (min-width: 845px) {

    .last-challenges-list .challenge-card-big {
        width: 675px;
        height: 280px;
    }

    .last-challenges-list .challenge-card .challenge-card-infos-big {
        width: 665px;
        height: 235px;
        justify-content: flex-start;
        gap: 10px;
    }

    .last-challenges-list .challenge-card .challenge-rules-big {
        width: 665px;
    }
    
}

@media screen and (min-width: 1024px) {

    .header {
        text-transform: uppercase;
    }

    .header .navbar-toggle {
        display: none;
    }

    .header .navbar {
        height: 100%;
        position: initial;
        visibility: visible;
        opacity: 1;
        transition: none;
    }

    .header .navbar .navbar-list {
        margin: 0 auto;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .header .navbar .navbar-list .navbar-list-element {
        padding: 0 15px;
    }

    .header .connect-btn {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        background-color: var(--primary-btn-color);
        text-transform: uppercase;
    }

    .header .register-btn {
        display: block;
        width: max-content;
    }

    .header #logout-btn {
        padding: 0;
    }

    .header .dropdown-show {
        position: absolute;
        top: 40px;
        right: 0;
    }

    .header .second {
        top: 65px;
    }
}