.dashboard {
    padding-top: 5px;
}

.dashboard .title {
    margin-bottom: 10px;
}

.dashboard .title h2 {
    font-family: "Poppins";
    font-weight: bold;
    margin-bottom: 0;
}

.dashboard .title hr {
    margin: 0;
    padding: 0;
    width: 10rem;
    border: 2px solid var(--primary-btn-color);
    border-radius: 5px;
}

.dashboard .profil .profil-card {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 5px auto;
    border: 1px solid var(--primary-bg-color);
    border-radius: 5px;
    background-color: var(--primary-label-color);
    padding: 5px;
}

.dashboard .profil .profil-card h3 {
    color: var(--secondary-font-color);
    margin: 0;
}

.dashboard .profil .profil-card span {
    color: var(--primary-input-color);
}

.dashboard .profil .profil-card .btn {
    cursor: pointer;
    border: none;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: var(--primary-btn-color);
    color: var(--primary-font-color);
    text-align: center;
    font-weight: bold;
}

.dashboard .tracked-challenges .tracked-challenges-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 1rem auto;
    width: 95%;
    justify-content: space-around;
}

.dashboard .user-backlog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin: 20px auto;
}

.dashboard .user-backlog .see-more,
.dashboard .tracked-challenges .see-more {
    width: 95%;
    margin: 5px auto;
    text-align: end;
    text-decoration: none;
    color: var(--primary-font-color);
}